<b>Below Function can be called with any arguments</b>

In [22]:
def fun(*names):
    for item in names :
        print(item)

fun(1,2,3,"neeraj")
fun((0,1,2))

1
2
3
neeraj
(0, 1, 2)

<b>When a variable is not defined in/and above the function then Also it call pull the value from global scope even it exists below the defined function and not passed to the function</b>

In [3]:
def scope():
    print(neeraj)
neeraj = 5.56
scope()

5.56

<b>If a variable in any function is declared by keyword <i>"global"</i> then that value becomes a global variable.But to access that variable in global scope <em>" You need to call that function first " </em>and that should be done only once since after calling that function the varible is copied to the global scope and if you change the value of that variable in the function again ?? it does not changes the value of the variable in the global scope unless that function is called again</b>

In [5]:
def Scope():
    global name
    name = 'neeraj'
Scope()
print(name)

neeraj

In [6]:
import pandas as pd
df = pd.DataFrame({'Age': [30, 20, 22, 40, 32, 28, 39],
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black','Red'],
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese','Melon', 'Beans'],
                   'Height': [165, 70, 120, 80, 180, 172, 150],
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                  },index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean','Christina', 'Cornelia']
                 )
print("\n -- loc -- \n")
print(df.loc[df['Age'] < 30, ['Color', 'Height']])
print("\n -- iloc -- \n")
print(df.iloc[(df['Age'] < 30).values, [1, 3]])

 -- loc --

           Color  Height
Nick       Green      70
Aaron        Red     120
Christina  Black     172

 -- iloc --

           Color  Height
Nick       Green      70
Aaron        Red     120
Christina  Black     172

In [7]:
count = 1 
def doThis():
    global count
    for i in(1,2,3):
        count += 1
doThis()
print(count)

4

In [42]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9]
l1.append(l2)
print(l1)

[1, 2, 3, 4, 5, [6, 7, 8, 9]]

In [91]:
numbers = {}
letters = {}
comb = {}
numbers[1] = 56
numbers[3] = 7
letters[4] = 'B'
comb['Numbers'] = numbers
comb['Letters'] = letters
print(comb)

{'Numbers': {1: 56, 3: 7}, 'Letters': {4: 'B'}}

In [96]:
l = [1,5,5,5,5,1]
max = l[0]
ind = 0
for i in range(1,len(l)):
    if l[i] > max :
        max = l[i]
        ind = i
        
print(ind)

1

In [97]:
x = ['ab','cd']
print(list(map(list,x)))

[['a', 'b'], ['c', 'd']]

In [102]:
r = lambda q:q*2
s = lambda q:q*3
x = 2
x = r(x)
x = s(x)
x = r(x)
print(x)

24

In [10]:
import pandas as pd
df = pd.DataFrame([1,2,3,4,5],columns=['Values'])
type(df.loc[:,'Values'])

pandas.core.series.Series

<b>List Comprehensions</b>

In [14]:
"""
    General Structure  is -> list = [expr for val in collection1 and val1 in collection2 
    if condition and condition ]
"""

squares = [x**2 for x in range(1,101)]
squares

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [35]:
r_5 = [x**2 % 5 for x in range(1,101)]
print(r_5)

[1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0]

In [34]:
r_11 = [x**2 % 11 for x in range(1,101)]
print(r_11)

[1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1]

For p to be a prime number , # of remainders when x<sup>2</sup> is divided by p = (p+1)/2 <br>
This is also known as quadratic reciprocity

In [37]:
import numpy as np
print(np.unique(r_5))
print(np.unique(r_11))

[0 1 4]
[0 1 3 4 5 9]

In [42]:
l = np.arange(1,101)
mod_2 = [element%2 for element in l]
print(mod_2)

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

In [48]:
movies = ['Tiranga','Sholay','hindustan','Tilak','The King']
t = [title for title in movies if title.startswith('T')]
print(t)

['Tiranga', 'Tilak', 'The King']

Cartesian Product of A and B using List Comprehension

In [51]:
A = [1,2,3,4]
B = ['a','b','c','d']

cartesian_product = [(a,b) for a in A for b in B]
print(cartesian_product)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

<b>Lambda Expressions or Anonymous Function</b>

In [33]:
"""
    function_name = lambda input1,input2,... : (return) expression
    
"""
getValue = lambda x:3*x+1
d = getValue(2)
d
getFullName = lambda firstName, middleName, lastName:(firstName.strip()).title() + " " + (middleName.strip()).title() + " " + (lastName.strip()).title()
fullNameOfNeeraj = getFullName(" Neeraj"," kumar",'gond')
fullNameOfNeeraj

'Neeraj Kumar Gond'

Sorting The List By Last Name using Lambda Expression<br>
Very Important To remember

In [ ]:
scifi_authors = []

In [6]:
import pandas as pd
df = pd.read_csv('Chicago_Crime_Detective.csv')
df.tail()

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year
191636,191636,1310068,1/1/01 0:05,STREET,False,False,1123,NaN,NaN,2001
191637,191637,1313404,1/1/01 0:01,STREET,False,False,2023,NaN,NaN,2001
191638,191638,1313442,1/1/01 0:01,STREET,False,False,911,NaN,NaN,2001
191639,191639,1563324,1/1/01 0:01,STREET,False,False,1712,NaN,NaN,2001
191640,191640,1310463,1/1/01 0:01,STREET,False,False,1911,NaN,NaN,2001