# Summer Analytics 2020 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [8]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [10]:
Chipo = pd.read_csv(
    'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',
    delimiter='\t',
    encoding='utf-8')

### 3) See the first 10 entries

In [12]:
print(Chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### 4) What is the number of observations in the dataset?

In [15]:
print(Chipo.shape[0])
len(Chipo)

4622

4622

### 5) What is the number of columns in the dataset?

In [16]:
print(len(Chipo.columns))
Chipo.shape[1]

5

5

### 6) Print the name of all the columns.

In [17]:
Chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [22]:
Chipo['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Carnitas Salad Bowl                        6
Veggie Salad                               6
Burrito                                    6
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: item_name, dtype: int64

### 8) For the most-ordered item, how many items were ordered?

### 9) What was the most ordered item in the choice_description column?

### 10) How many items were ordered in total?

### 11) Turn the item price into a float

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

### 13) How many orders were made in the period?

### 14) What is the average revenue amount per order?

### 15) How many different items are sold?